@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
font-family: 'Noto Sans TC', sans-serif;
background: #E7E4DD;


}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
footer {
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
.about-me {

    display: flex;
    justify-content: space-evenly;
    background: rgb(109,114,128);
    font-style: bold;
    
}
.lists {

    display: flex;
    justify-content: space-evenly;
    background: rgb(109,114,128);
    
}

.pic {
display: flex;
justify-content: center;
}


img {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    

}
article {

    width: 80%;
}
h3 {
    text-align-last: center;
}

h2 {
    text-align-last: center; 
}
h1 {
    text-align: center;
    font-style: bold;
}


    

#history {
    
    display: flex;
    flex-direction: column;
    background:#F5E1B3;
    padding: 15px;
    border: solid 1px black;
    
}
#future {
    display: flex;
    background: #B8B5D4;
    flex-direction: column-reverse;
    padding: 15px;
    border: solid 1px black;
}
#pet {
    display: flex;
    flex-direction: column;
    background: #F3F4F1;
    padding: 15px;
    border: solid 1px black;
}

#favebooks {
    background: #ABAAAA;
    border: solid 1px black;
    padding: 15px;
  

}

#faveconcerts {
    background: #ABAAAA;
    border: solid 1px black;
    padding: 15px;

}

button {
    font-size: 30px;
    color: azure;
    background-color: rgb(77,61,71);
    align-content: center;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

#buttonContainer {
 display: flex;
justify-content: center;

}