@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
font-family: 'Noto Sans TC', sans-serif;
}
.about-me {

    display: flex;
    justify-content: space-evenly;
    background: rgb(109,114,128);
}
img {
    width: fit-content;
    height: fit-content;
}
article {

    width: 300px;
}

#history {
    display: flex;
    flex-direction: column;
    background: rgb(77,61,71);
    padding: 15px;
    border: solid 1px black;
    
}
#future {
    display: flex;
    background: rgb(162,191,179);
    flex-direction: column-reverse;
    padding: 15px;
    border: solid 1px black;
}
#pet {
    display: flex;
    flex-direction: column;
    background: rgb(100,82,102);
    padding: 15px;
    border: solid 1px black;
}

